<h1><%= @headline.h1 %></h1>

<h5><%= @headline.h5 %></h5>

<p>Gesehen in der Bild am <%= @headline.date %></p>
<hr>
<p>The best and very worst of Bildzeitung!</p>
<p>h1 vs h5 is made by <a href='http://github.com/tpei'>tpei</a>, to show how crazy some news outlets really are</p> 
